* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

/* settings for header */
header {
  text-align: center;
}

h1 {
  display: inline-block;
}

.change-theme {
  display: inline-block;
  float: right;
  padding: 0;
  outline: none;
  border: none;
  background-color: white;
}

.material-icons {
  font-size: 32px;
}

/* theme settings */
.t-light {
  transition-duration: 0.7s;
  transition-property: *;
}

.t-dark {
  background-color: rgb(25, 26, 29);
  color: white;
  -webkit-font-smoothing: antialiased;
  transition-duration: 0.7s;
  transition-property: *;
}

/* main settings */
main {
  padding: 0 20px;
}

.exercises-title-header {
  margin: 25px 0;
}

.exercises {
  display: flex;
  flex-wrap: wrap;
}

.single-exercise {
  width: 32%;
  border-radius: 6px;
  margin: 0 2% 25px 0;
  position: relative;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.28);
  background-color: white;
  text-align: center;
}

.single-exercise:nth-child(3n) {
  margin-right: 0;
}