* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

/* settings for header */
header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  display: inline-block;
}

.change-theme {
  display: inline-block;
  float: right;
  padding: 0;
  outline: none;
  border: none;
  background-color: white;
}

.material-icons {
  font-size: 32px;
}

/* theme settings */
.t-light {
  transition-duration: 1s;
}

.t-dark {
  background-color: #191A1D;
  color: white;
  -webkit-font-smoothing: antialiased;
  transition-duration: 1s;
}

/* main settings */
main {
  padding: 0 20px;
}

.exercises {
  display: flex;
  flex-wrap: wrap;
}

.single-exercise {
  width: 32%;
  border-radius: 6px;
  margin: 0 2% 25px 0;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.28);
  background-color: white;
  display: flex;
  flex-direction: column;
}

.single-exercise:nth-child(3n) {
  margin-right: 0;
}

.iframe-wrap {
  position: relative;
  overflow: hidden;
  flex-grow: 2;
}

.iframe-wrap iframe {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: none;
}

.cover-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 0;
  z-index: 1;
}

.visually-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.meta {
  background: #32333B;
  white-space: nowrap;
  padding: 1rem 1rem .5rem;
  flex-grow: 1;
}

.meta h3 {
  font-size: 1.5rem;
  margin: 0 0 .125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.meta h3 a {
  color: #fff;
  text-decoration: none;
}